<div class = "form-create">
<h1>Edit <%= @user.username%></h1>
  <%= form_for @user do |u|%>
    <%= u.label :username , value: "User name"%>
    <%= u.text_field :username, placeholder: "User Name", value: @user.username%>
    <%= u.label :email %>
    <%= u.email_field :email, placeholder: "Email", value: @user.email%>
    <%= u.label :password %>
    <%= u.password_field :password, placeholder: "Password", value: @user.password%>
    <%= u.submit %>
  <% end %>
</div>

<div class= "errors">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> 
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>